@font-face{
    font-family: Roboto-Bold;
    src: url('./fonts/roboto/Roboto-Bold.ttf');

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 65px;
    background-color: #3f3f3f ;
}

/* HEADER */

.header{
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: #c0c0c0;
    height: 60px;
    width: 95%;
    top:10px;
    border-radius: 5px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

.logo{
    height: 70%;
}

.navMenu{
    display: flex;
    gap: 10px;
    list-style: none;
}

.navMenu li{
    font-size: 18px;
    text-transform: uppercase;
}

.navMenu li a{
    font-family: 'Roboto-Bold';
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.navMenu li a:hover{
    background-color: #3f3f3f;
    transition: 0.5s;
}


/* Section HERO */

.hero{
    min-width: 400px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(63,63,63,1) 40%, rgba(63,63,63,1) 60%, rgba(192,192,192,1) 100%);
    width: 60%;
    height: 70vh;
    padding: 5vh;
    margin: 5vh 0;
    border-radius: 20px;
    
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.text-hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.text-hero-container p {
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto-Bold';
    color: #fff;
}

.text-hero-container button{
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto-Bold';
    color: #fff;
    background-color: #3f3f3f;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.text-hero-container button:hover{
    background-color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.hero-image{
    width: 40%;
    border-radius: 40%;
}

/* Texto informativo */

.info-text{
    width: 60%;
    margin: 5vh 0;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto-Bold';
    color: #fff;
}

@media screen and (max-width: 1110px){

    .info-text{
        font-size: 12px;
    }

    .text-hero-container button{
        font-size: 12px;
        width: 60px;
    }
    .text-hero-container p{
        font-size: 12px;
    }

}

@media screen and (max-width: 814px){
    .hero-image{
        width: 60%;
    }
    .hero{
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(63,63,63,1) 40%, rgba(63,63,63,1) 60%, rgba(192,192,192,1) 100%);
        width: 100%;
        border-radius: 20px;
        
    }
}